#play {
display: block;
margin: auto;
width: 400px;
border: 22px solid rgba(163, 227, 241, 0.83);
border-top: 22px solid rgba(163, 227, 241, 0.83);
border-bottom: 22px solid rgba(163, 227, 241, 0.83);
margin-bottom: 0px;
border-bottom-right-radius: 1px;
border-bottom-left-radius: 45px;
}


.well {
  width: 247px;
  display: block;
  margin: auto;
  margin-bottom: 0px;
  border-radius: 25px;
  border-bottom-right-radius: 1px;
}

h4 {
  background-color: rgba(163, 227, 241, 0.83);
  color: rgba(5, 29, 47, 0.87);
  font-size: 12pt;
  font-weight: normal;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px;
  width: 400px;
  display: block;
  margin: auto;
  padding-top: 22px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
}

#vaca-form {
  background-color: rgba(163, 227, 241, 0.83);
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 22px;
  padding-top: 22px;
  width: 400px;
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 7px;
  border-top-right-radius: 2px;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
}


label {
  font-family: sans-serif;
  font-weight: normal;
  color: rgba(5, 29, 47, 0.87);
  text-align: center;
  font-size: 12pt;
}

select {
  display: block;
  margin: auto;
  width: 247px;
  font-size: 12pt;
  margin-bottom: 0px;
  font-family: sans-serif;
  font-weight: normal;
  color: rgba(5, 29, 47, 0.87);
  text-align: center;
}


#btn-red {
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 6px;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 10pt;
  width: 253px;
  height: 35px;
  border-radius: 20px;
  border-top-right-radius: 1px;
  border: 1px solid grey;
}

.italy, .paris, .cancun {
  display: inline;
  float: left;
  margin-left: 980px;
  width: 247px;
  border: 22px solid rgba(163, 227, 241, 0.83);
  border-top-right-radius: 2px;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  padding: 22px;
  margin-left: 200px;
  margin-top: 100px;
}

.italy-ul, .paris-ul, .cancun-ul {

  margin-left: 620px;
  width: 247px;
  border: 22px solid rgba(163, 227, 241, 0.83);
  border-bottom-right-radius: 2px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  border-bottom-left-radius: 45px;
  padding: 22px;
  padding-left: 0px;
}

h5 {
  text-align: center;
}



/*marquee {
  color: white;
  font-size: 37pt;
  font-family: sans-serif;
  font-weight: lighter;
  margin-left: 130px;
}*/
